#blockseite
{
	width: 900px;
    margin: auto;
}
nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}
article{
	text-align: center;
}
aside{
	display: flex;
}
#links p{
	text-align: center;
	background: black;
	color: white;
	
}
#links{
	background: black;
	margin-right: 15px;
}
#rechts{
	margin-right: 15px;
	color: white;
	background: black;
}

.Zentrum {
	text-align: center;
	color: white;
	
}

footer p{
	text-align: center;
	background: black;
	color: white;
	
}

/* Bannière */

#banniere_image
{
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background: url('images/sanfrancisco.jpg') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}

#Brücke
{
    position: relative;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgba(24,24,24,0.8);
    color: white;
    font-size: 0.8em;
    
}
@media all and (max-width: 1024px)
{
    body
    {
        width: auto;
    }
	aside{
		flex-direction: column;
	}
	#links{
	background: black;
	margin-bottom: 15px;
}
#rechts{
	margin-bottom: 15px;
	color: white;
	background: black;
}
	#mehrErfahren{
	
}
	article{
		margin-right: auto;
		margin-left: auto;
	}
}
